# Foundations of Computer Science, Project 2019
## Simone Tufano, 816984

## 1. Normalize the loan_lenders table. In the normalized table, each row must have one loan_id and one lender

In [1]:
#importare le librerie e leggere il file loans_lenders.csv

import pandas as pd
import numpy as np
loans_lenders = pd.read_csv('loans_lenders.csv') 
loans_lenders.head()

   loan_id                                            lenders
0   483693  muc888, sam4326, camaran3922, lachheb1865, reb...
1   483738  muc888, nora3555, williammanashi, barbara5610,...
2   485000  muc888, terrystl, richardandsusan8352, sherri4...
3   486087  muc888, james5068, rudi5955, daniel9859, don92...
4   534428  muc888, niki3008, teresa9174, mike4896, david7...

In [160]:
#Poichè il file presenta oltre un milione di righe, andare a eseguire delle operazioni sul dataset intero causava
#'MemoryError' quindi, si decide di creare una lista di campioni e svolgere le azioni richieste per ogni porzione 
#di dataframe

loans_lenders_df_list = [loans_lenders.loc[0:100000]]
list_for_loc = [ 100000, 200000, 300000, 400000, 
                500000, 600000, 700000, 800000, 900000,
               1000000,1100000, 1200000, 1300000, 1387432]

for el in range(1,14):
    df = loans_lenders.loc[list_for_loc[el-1] + 1:list_for_loc[el]]
    loans_lenders_df_list.append(df)

In [162]:
#Check di verifica

loans_lenders_df_list[4].head()

        loan_id                                            lenders
400001   248833  kim8007, tim5655, judy4594, mickey2663, harrie...
400002   263054  kim8007, romin3340, romin3340, romin3340, romi...
400003   283527                                            kim8007
400004   308890                                            kim8007
400005   353961  kim8007, ki3695, steve3540, christiane7688, ma...

In [73]:
#Ciclo per normalizzare i dataset presenti in loans_lenders_df_list

new_loans_lenders_df_list  = []

for df in loans_lenders_df_list:
    new_loans_lenders_df = pd.DataFrame(df['lenders'].str.split(',').tolist(), 
                                     index = df['loan_id']).stack()
    new_loans_lenders_df = new_loans_lenders_df.reset_index([0,'loan_id'])
    new_loans_lenders_df.columns = ['loan_id','lenders']
    new_loans_lenders_df_list.append(new_loans_lenders_df)

In [78]:
#Check di verifica

new_loans_lenders_df_list[4]

         loan_id             lenders
0         248833             kim8007
1         248833             tim5655
2         248833            judy4594
3         248833          mickey2663
4         248833         harriet4014
5         248833           chris6099
6         248833            mark6087
7         248833         william6330
8         248833            kent6652
9         248833             seanIDS
10        248833           chris4881
11        248833       wildfiremedic
12        248833           howdy5808
13        248833         valerie2571
14        248833          rodney7420
15        248833           allen2793
16        248833        courtney2672
17        248833         bernard2897
18        248833         mahipal9230
19        248833           susan2595
20        248833      thomas16249921
21        248833            mike2158
22        248833          nadine3109
23        248833       trolltech4460
24        248833          deanne5713
25        248833          martin2561
26        248833            dawn1651
27        248833         theresa3579
28        248833           boris4155
29        248833            alex4531
...          ...                 ...
2011347  1262411                 nms
2011348  1262411   elizabeth35497592
2011349  1262411              de1249
2011350  1262411           ellis6703
2011351  1261789           peggy1981
2011352  1261789         timothy4674
2011353  1261789          tracey8474
2011354  1261789        kathleen6414
2011355  1261789    jonathan36121451
2011356  1261789   markcatharine7166
2011357  1261789                 nms
2011358  1261789           graceling
2011359  1264222           david9667
2011360  1264222     michael14598672
2011361  1264222                 nms
2011362  1264222            vera3771
2011363  1264222             mike001
2011364  1264222       aaron83574977
2011365  1264222          alison5219
2011366  1264222           lidia5529
2011367  1264222         littleflock
2011368  1264222             bob4739
2011369  1262308       nicholasluder
2011370  1262308           cathy2037
2011371  1262308      joshua71823413
2011372  1262513        szucheng2565
2011373  1262513     michael14598672
2011374  1262513              oldman
2011375  1262513            will8174
2011376  1262513         andreas5435

[2011377 rows x 2 columns]

In [80]:
#Concatenazione dei dataset presenti nella lista

new_loans_lenders_complete = pd.concat(new_loans_lenders_df_list)
new_loans_lenders_complete.head()

   loan_id       lenders
0   483693        muc888
1   483693       sam4326
2   483693   camaran3922
3   483693   lachheb1865
4   483693   rebecca3499

In [81]:
#Poichè il file presenta delle dimensioni molto grandi e può servirmi per usi futuri, 
#viene salvato con la funzione to_pickle()

new_loans_lenders_complete.to_pickle('./dummy.pkl')

## 2. For each loan, add a column duration corresponding to the number of days between the disburse time and the planned expiration time. If any of those two dates is missing, also the duration must be missing.

In [2]:
#Lettura del file loans.csv e controllo colonne

loans = pd.read_csv('loans.csv')
loans.columns

Index(['loan_id', 'loan_name', 'original_language', 'description',
       'description_translated', 'funded_amount', 'loan_amount', 'status',
       'activity_name', 'sector_name', 'loan_use', 'country_code',
       'country_name', 'town_name', 'currency_policy',
       'currency_exchange_coverage_rate', 'currency', 'partner_id',
       'posted_time', 'planned_expiration_time', 'disburse_time',
       'raised_time', 'lender_term', 'num_lenders_total',
       'num_journal_entries', 'num_bulk_entries', 'tags', 'borrower_genders',
       'borrower_pictured', 'repayment_interval', 'distribution_model'],
      dtype='object')

In [86]:
#Check di verifica per la colonna 'planned_expiration_time'

loans['planned_expiration_time'].head()

0    2014-02-14 03:30:06.000 +0000
1    2014-03-26 22:25:07.000 +0000
2    2014-02-15 21:10:05.000 +0000
3    2014-02-21 03:10:02.000 +0000
4    2014-02-13 06:10:02.000 +0000
Name: planned_expiration_time, dtype: object

In [87]:
#Check di verifica per la colonna 'disburse_time'

loans['disburse_time'].head()

0    2013-12-22 08:00:00.000 +0000
1    2013-12-20 08:00:00.000 +0000
2    2014-01-09 08:00:00.000 +0000
3    2014-01-17 08:00:00.000 +0000
4    2013-12-17 08:00:00.000 +0000
Name: disburse_time, dtype: object

In [50]:
#Creazione di una nuova colonna 'duration' ottenuta dalla differenza delle due colonne precedenti convertite
#attraverso la funzione to_datetime()

loans[['planned_expiration_time','disburse_time']] = loans[['planned_expiration_time','disburse_time']].apply(pd.to_datetime)
loans['duration'] = (loans['planned_expiration_time'] - loans['disburse_time']).dt.days
loans['duration'].head()

0    53.0
1    96.0
2    37.0
3    34.0
4    57.0
Name: duration, dtype: float64

In [89]:
#Check di verifica per controllare se le osservazioni relative alla variabile 'duration' fossero nulle per osservazioni
#mancanti delle colonne 'planned_expiration_time' e 'disburse_time'

loans[loans['planned_expiration_time'].isna()].head()

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model,duration
64,251406,José Roan Group,Spanish,El grupo se llama “José Roan” y se ubica en l...,The group called “José Roan” is located in the...,825.0,825.0,funded,Poultry,Agriculture,...,7.0,22,2,1,NaN,"female, female, female","true, true, true",monthly,field_partner,NaN
65,252537,Marylou,English,"Marylou S. is from the village of Kuguita, Mam...",NaN,175.0,175.0,funded,Personal Products Sales,Retail,...,7.0,7,2,1,NaN,female,true,irregular,field_partner,NaN
66,253044,Flora,English,"Flora G. is from the village of Libona, Bukidn...",NaN,125.0,125.0,funded,Transportation,Transportation,...,7.0,5,2,1,NaN,female,true,irregular,field_partner,NaN
67,254012,Maria Magdalena,Spanish,"María de 55 años, tiene una tienda de víveres ...","María, 55, has a grocery store in the front pa...",1000.0,1000.0,funded,General Store,Retail,...,12.0,36,1,1,NaN,female,true,monthly,field_partner,NaN
69,251336,Rober,Spanish,"Rober, de 32 años, está casado con Janeth, de ...","Rober, 32, is married to Janeth, 31, and they ...",375.0,375.0,funded,Knitting,Arts,...,12.0,15,3,2,NaN,male,true,monthly,field_partner,NaN

In [90]:
loans[loans['disburse_time'].isna()].head()

,loan_id,loan_name,original_language,description,description_translated,funded_amount,loan_amount,status,activity_name,sector_name,...,lender_term,num_lenders_total,num_journal_entries,num_bulk_entries,tags,borrower_genders,borrower_pictured,repayment_interval,distribution_model,duration
31106,1379508,Melissa,English,I grew up in Chicago and started playing viola...,I grew up in Chicago and started playing viola...,125.0,1000.0,expired,Education provider,Education,...,12.0,2,1,1,NaN,female,true,bullet,direct,NaN
31107,1428617,Dwarika,English,It all started when I was not conscious about ...,It all started when I was not conscious about ...,0.0,10000.0,fundRaising,Technology,Services,...,36.0,0,1,1,NaN,male,true,bullet,direct,NaN
31178,1135319,Robert,English,"My name is Roberto Hernandez, I grew up in a s...","My name is Roberto Hernandez, I grew up in a s...",50.0,500.0,expired,Transportation,Transportation,...,24.0,2,1,1,NaN,male,true,bullet,direct,NaN
32151,1279252,Michal,English,My name is Michal Szymczak and I am a Polish i...,My name is Michal Szymczak and I am a Polish i...,0.0,1000.0,expired,Services,Services,...,12.0,0,1,1,NaN,male,true,bullet,direct,NaN
32152,1433349,NaN,NaN,NaN,NaN,0.0,8000.0,refunded,Services,Services,...,36.0,0,1,1,NaN,NaN,NaN,bullet,direct,NaN

## 3. Find the lenders that have funded at least twice.

In [33]:
#Lettura del file lenders.csv per controllo (non necessaria per lo svolgimento del punto)

lenders = pd.read_csv('lenders.csv')
lenders.head()

,permanent_name,display_name,city,state,country_code,member_since,occupation,loan_because,loan_purchase_num,invited_by,num_invited
0,qian3013,Qian,NaN,NaN,NaN,1461300457,NaN,NaN,1.0,NaN,0
1,reena6733,Reena,NaN,NaN,NaN,1461300634,NaN,NaN,9.0,NaN,0
2,mai5982,Mai,NaN,NaN,NaN,1461300853,NaN,NaN,NaN,NaN,0
3,andrew86079135,Andrew,NaN,NaN,NaN,1461301091,NaN,NaN,5.0,Peter Tan,0
4,nguyen6962,Nguyen,NaN,NaN,NaN,1461301154,NaN,NaN,NaN,NaN,0

In [82]:
#Controllo del DataFrame ottenuto dal file loans_lenders.csv del punto 1

new_loans_lenders_complete.head()

   loan_id       lenders
0   483693        muc888
1   483693       sam4326
2   483693   camaran3922
3   483693   lachheb1865
4   483693   rebecca3499

In [83]:
#DataFrame con lenders duplicati, ottenuto attraverso la funzione .duplicated()

new_loans_lenders_complete[new_loans_lenders_complete.duplicated('lenders')]

         loan_id             lenders
40        483738              muc888
45        483738        danhostetler
46        483738        danhostetler
55        485000              muc888
59        485000        mattiaslaven
60        485000           shree8053
62        485000             don9212
63        485000            raph8817
66        485000     highgrovechurch
67        485000            dino5102
70        486087              muc888
74        486087             don9212
80        486087           shree8053
83        534428              muc888
92        534428           gooddogg1
95        534428          pennie4480
102       558112              muc888
106       558112            mike4896
115       563395              muc888
117       563395       trolltech4460
121       563395        motoharu1020
122       563395           gooddogg1
126       575414              muc888
128       575414          dougal1825
135       575414            mike4896
139       575414         stephen2848
143       575414        chrisbioteau
149       578029              muc888
152       578029            paul1853
153       578029            paul1853
...          ...                 ...
1781583  1206220        bernardo6554
1781584  1206220           karen8410
1781585  1206220    themissionbeltco
1781586  1206220                 nms
1781587  1206220           david8478
1781588  1206220         bernardchan
1781589  1206220            ruth3760
1781590  1206220          janchapman
1781591  1206220            matt4673
1781592  1206220             dan3261
1781593  1206220          alfred4950
1781594  1206220       elizabeth7391
1781596  1206220       francisco6172
1781597  1206220           terry5191
1781598  1206220            greg1731
1781599  1206220         marilyn1116
1781600  1206220          sheila5822
1781601  1206220   sebastien24117895
1781602  1206220      martin19411599
1781603  1206220        florence9711
1781604  1206425            rich6705
1781605  1206425         sergiiy9766
1781606  1206425          angela7509
1781607  1206425         barbara5610
1781608  1206425           david9667
1781609  1206425   trogdorfamily7622
1781610  1206425           danny6470
1781611  1206425             don6118
1781612  1206486            alan5175
1781613  1206486         amy38101311

[26654905 rows x 2 columns]

## 4. For each country, compute how many loans have involved that country as borrowers.

In [92]:
#Controllo sui nomi dei paesi

loans.country_name.head()

0    Philippines
1       Honduras
2       Pakistan
3     Kyrgyzstan
4    Philippines
Name: country_name, dtype: object

In [93]:
#Check di verifica per controllare se i codici dei paesi e i loro nomi potessero essere utilizzati come variabile di
#raggruppamento

print(len(loans['country_name']), len(loans['country_code']))

1419607 1419607

In [94]:
#Raggruppamento attraverso .groupby() e conteggio delle osservazioni (numero di loans) con la funzione .size()

loans.groupby('country_name').size()

country_name
Afghanistan                               2337
Albania                                   3075
Armenia                                  13952
Azerbaijan                               10172
Belize                                     218
Benin                                     5946
Bhutan                                       2
Bolivia                                  25250
Bosnia and Herzegovina                     608
Botswana                                     1
Brazil                                     482
Bulgaria                                   296
Burkina Faso                              3489
Burundi                                   1727
Cambodia                                 79701
Cameroon                                  5085
Canada                                       1
Chad                                        61
Chile                                      892
China                                      134
Colombia                                 33675
Congo                                      952
Costa Rica                                4681
Cote D'Ivoire                              283
Dominican Republic                        4654
Ecuador                                  33471
Egypt                                     2460
El Salvador                              64037
Gaza                                         8
Georgia                                   6483
                                         ...
Philippines                             285336
Puerto Rico                                 80
Rwanda                                   16774
Saint Vincent and the Grenadines            16
Samoa                                    16435
Senegal                                  12107
Sierra Leone                             15576
Solomon Islands                            903
Somalia                                    227
South Africa                               633
South Sudan                               5820
Sri Lanka                                  264
Suriname                                   292
Tajikistan                               43942
Tanzania                                 16110
Thailand                                   247
The Democratic Republic of the Congo      5074
Timor-Leste                               3816
Togo                                     17106
Turkey                                    2008
Uganda                                   45882
Ukraine                                   4994
United States                             9180
Uruguay                                      1
Vanuatu                                      4
Vietnam                                  21839
Virgin Islands                               2
Yemen                                     4206
Zambia                                    1277
Zimbabwe                                  5513
Length: 96, dtype: int64

## 5. For each country, compute the overall amount of money borrowed.

In [95]:
#Raggruppamento come nel punto precedente e somma della variabile 'loan_amount' attraverso la funzione .sum()

loans.groupby('country_name')['loan_amount'].sum()

country_name
Afghanistan                              1967950.0
Albania                                  4307350.0
Armenia                                 22950475.0
Azerbaijan                              14784625.0
Belize                                    150175.0
Benin                                    3865825.0
Bhutan                                     20000.0
Bolivia                                 44226725.0
Bosnia and Herzegovina                    477250.0
Botswana                                    8000.0
Brazil                                   1192325.0
Bulgaria                                  375300.0
Burkina Faso                             4085200.0
Burundi                                  5233450.0
Cambodia                                51613525.0
Cameroon                                 2250800.0
Canada                                     50000.0
Chad                                       20075.0
Chile                                    2595925.0
China                                     380525.0
Colombia                                23613975.0
Congo                                    2265350.0
Costa Rica                               5644350.0
Cote D'Ivoire                             345300.0
Dominican Republic                       9308000.0
Ecuador                                 35519000.0
Egypt                                    1415025.0
El Salvador                             41691550.0
Gaza                                        5000.0
Georgia                                  9570425.0
                                           ...
Philippines                             97984600.0
Puerto Rico                               441900.0
Rwanda                                  29157325.0
Saint Vincent and the Grenadines           49225.0
Samoa                                   12212175.0
Senegal                                 17952175.0
Sierra Leone                            11967500.0
Solomon Islands                           815575.0
Somalia                                   308725.0
South Africa                             1006525.0
South Sudan                              2418300.0
Sri Lanka                                  74800.0
Suriname                                  748925.0
Tajikistan                              39622125.0
Tanzania                                18720300.0
Thailand                                  608925.0
The Democratic Republic of the Congo    18813425.0
Timor-Leste                              3482400.0
Togo                                    10022825.0
Turkey                                    903925.0
Uganda                                  38386500.0
Ukraine                                  7091800.0
United States                           46352000.0
Uruguay                                     8000.0
Vanuatu                                     9250.0
Vietnam                                 24681100.0
Virgin Islands                             10000.0
Yemen                                    3444000.0
Zambia                                   1978975.0
Zimbabwe                                 5851875.0
Name: loan_amount, Length: 96, dtype: float64

## 6. Like the previous point, but expressed as a percentage of the overall amount lent.

In [96]:
#Totale dei soldi prestati

overall_amount_lent = loans['loan_amount'].sum()
overall_amount_lent

1181437300.0

In [97]:
#Raggruppamento come i due punti precedenti e divisione per il totale dei soldi prestati

loans.groupby('country_name')['loan_amount'].sum()/overall_amount_lent

country_name
Afghanistan                             0.001666
Albania                                 0.003646
Armenia                                 0.019426
Azerbaijan                              0.012514
Belize                                  0.000127
Benin                                   0.003272
Bhutan                                  0.000017
Bolivia                                 0.037435
Bosnia and Herzegovina                  0.000404
Botswana                                0.000007
Brazil                                  0.001009
Bulgaria                                0.000318
Burkina Faso                            0.003458
Burundi                                 0.004430
Cambodia                                0.043687
Cameroon                                0.001905
Canada                                  0.000042
Chad                                    0.000017
Chile                                   0.002197
China                                   0.000322
Colombia                                0.019987
Congo                                   0.001917
Costa Rica                              0.004778
Cote D'Ivoire                           0.000292
Dominican Republic                      0.007879
Ecuador                                 0.030064
Egypt                                   0.001198
El Salvador                             0.035289
Gaza                                    0.000004
Georgia                                 0.008101
                                          ...
Philippines                             0.082937
Puerto Rico                             0.000374
Rwanda                                  0.024680
Saint Vincent and the Grenadines        0.000042
Samoa                                   0.010337
Senegal                                 0.015195
Sierra Leone                            0.010130
Solomon Islands                         0.000690
Somalia                                 0.000261
South Africa                            0.000852
South Sudan                             0.002047
Sri Lanka                               0.000063
Suriname                                0.000634
Tajikistan                              0.033537
Tanzania                                0.015845
Thailand                                0.000515
The Democratic Republic of the Congo    0.015924
Timor-Leste                             0.002948
Togo                                    0.008484
Turkey                                  0.000765
Uganda                                  0.032491
Ukraine                                 0.006003
United States                           0.039234
Uruguay                                 0.000007
Vanuatu                                 0.000008
Vietnam                                 0.020891
Virgin Islands                          0.000008
Yemen                                   0.002915
Zambia                                  0.001675
Zimbabwe                                0.004953
Name: loan_amount, Length: 96, dtype: float64

## 7. Like the three previous points, but split for each year (with respect to disburse time).

In [98]:
#Creazione di una variabile 'year' per il raggruppamento e un nuovo dataframe. 

loans['year'] = loans['disburse_time'].dt.year
loans_df_groupby = pd.DataFrame({})
loans_df_groupby['number_of_loans'] =  loans.groupby(['year','country_name'])['loan_amount'].size()
loans_df_groupby['loan_amount'] =  loans.groupby(['year','country_name'])['loan_amount'].sum()
loans_df_groupby['perc_of_overall_amount_lent'] =  loans.groupby(['year','country_name'])['loan_amount'].sum()/overall_amount_lent
loans_df_groupby

                                         number_of_loans  loan_amount  \
year   country_name
2005.0 Bulgaria                                        3       1850.0
       Cambodia                                        2       1625.0
       Ecuador                                        10       5000.0
       Gaza                                            8       5000.0
       Honduras                                       72      33300.0
       Kenya                                          40      21350.0
       Nicaragua                                       6       3300.0
       Senegal                                         3       3225.0
       Tanzania                                        5       2300.0
       Uganda                                         54      25900.0
2006.0 Azerbaijan                                     21      15700.0
       Bulgaria                                       70      84650.0
       Cambodia                                       58      41950.0
       Ecuador                                       253     151175.0
       Ghana                                          28      23425.0
       Honduras                                      272      94325.0
       Kenya                                         434     222800.0
       Mexico                                        285     191575.0
       Moldova                                        31      20925.0
       Mozambique                                     16      15950.0
       Nicaragua                                       5       3850.0
       Nigeria                                       102      46950.0
       Samoa                                          13       7800.0
       Senegal                                        54      52225.0
       Tanzania                                       69      45200.0
       Togo                                           95      77600.0
       Uganda                                        366     280475.0
2007.0 Afghanistan                                   408     194975.0
       Azerbaijan                                   2133    1892775.0
       Bolivia                                       565     304700.0
...                                                  ...          ...
2018.0 Costa Rica                                      1       1550.0
       Dominican Republic                              2       9850.0
       Ghana                                          67      74675.0
       Guatemala                                       1       3500.0
       Haiti                                          17      32950.0
       India                                           1      20000.0
       Indonesia                                       3       3450.0
       Kenya                                         587     393350.0
       Kyrgyzstan                                      1       8000.0
       Lao People's Democratic Republic               19       6075.0
       Malawi                                          2       2100.0
       Mali                                            1      50000.0
       Mexico                                          5        475.0
       Moldova                                         5      15675.0
       Mozambique                                     26      53850.0
       Nicaragua                                       7      13425.0
       Nigeria                                        10      13900.0
       Pakistan                                        6        150.0
       Panama                                          1      30000.0
       Paraguay                                        2         50.0
       Peru                                           10      17700.0
       Philippines                                     6        300.0
       Rwanda                                         23      26800.0
       Senegal                                        10       3975.0
       Sierra Leone                                   19      31125.0
       Tanzania                                       45      14300.0
       Thailand                                       13      26500.0
       Uganda                                          2      21750.0
       Uruguay                                         1       8000.0
       Zambia                                         14      13975.0

                                         perc_of_overall_amount_lent
year   country_name
2005.0 Bulgaria                                         1.565889e-06
       Cambodia                                         1.375443e-06
       Ecuador                                          4.232133e-06
       Gaza                                             4.232133e-06
       Honduras                                         2.818601e-05
       Kenya                                            1.807121e-05
       Nicaragua                                        2.793208e-06
       Senegal                                          2.729726e-06
       Tanzania                                         1.946781e-06
       Uganda                                           2.192245e-05
2006.0 Azerbaijan                                       1.328890e-05
       Bulgaria                                         7.165001e-05
       Cambodia                                         3.550760e-05
       Ecuador                                          1.279585e-04
       Ghana                                            1.982754e-05
       Honduras                                         7.983919e-05
       Kenya                                            1.885839e-04
       Mexico                                           1.621542e-04
       Moldova                                          1.771148e-05
       Mozambique                                       1.350050e-05
       Nicaragua                                        3.258743e-06
       Nigeria                                          3.973973e-05
       Samoa                                            6.602128e-06
       Senegal                                          4.420463e-05
       Tanzania                                         3.825848e-05
       Togo                                             6.568271e-05
       Uganda                                           2.374015e-04
2007.0 Afghanistan                                      1.650320e-04
       Azerbaijan                                       1.602095e-03
       Bolivia                                          2.579062e-04
...                                                              ...
2018.0 Costa Rica                                       1.311961e-06
       Dominican Republic                               8.337302e-06
       Ghana                                            6.320691e-05
       Guatemala                                        2.962493e-06
       Haiti                                            2.788976e-05
       India                                            1.692853e-05
       Indonesia                                        2.920172e-06
       Kenya                                            3.329419e-04
       Kyrgyzstan                                       6.771413e-06
       Lao People's Democratic Republic                 5.142042e-06
       Malawi                                           1.777496e-06
       Mali                                             4.232133e-05
       Mexico                                           4.020527e-07
       Moldova                                          1.326774e-05
       Mozambique                                       4.558007e-05
       Nicaragua                                        1.136328e-05
       Nigeria                                          1.176533e-05
       Pakistan                                         1.269640e-07
       Panama                                           2.539280e-05
       Paraguay                                         4.232133e-08
       Peru                                             1.498175e-05
       Philippines                                      2.539280e-07
       Rwanda                                           2.268423e-05
       Senegal                                          3.364546e-06
       Sierra Leone                                     2.634503e-05
       Tanzania                                         1.210390e-05
       Thailand                                         2.243031e-05
       Uganda                                           1.840978e-05
       Uruguay                                          6.771413e-06
       Zambia                                           1.182881e-05

[748 rows x 3 columns]

## 8.For each lender, compute the overall amount of money lent. For each loan that has more than one lender, you must assume that all lenders contributed the same amount.

In [9]:
#Creazione di una nuova variabile con la lunghezza della lista dei lenders

loans_lenders['len_of_list'] = loans_lenders['lenders'].str.split(',')
loans_lenders['len_of_list'] = loans_lenders['len_of_list'].apply(lambda x: len(x))
loans_lenders.head()

   loan_id                                            lenders  len_of_list
0   483693  muc888, sam4326, camaran3922, lachheb1865, reb...           40
1   483738  muc888, nora3555, williammanashi, barbara5610,...           15
2   485000  muc888, terrystl, richardandsusan8352, sherri4...           15
3   486087  muc888, james5068, rudi5955, daniel9859, don92...           13
4   534428  muc888, niki3008, teresa9174, mike4896, david7...           19

In [16]:
#Recupero file punto 1

new_loans_lenders_complete = pd.read_pickle('./dummy.pkl')
new_loans_lenders_complete.head()

   loan_id       lenders
0   483693        muc888
1   483693       sam4326
2   483693   camaran3922
3   483693   lachheb1865
4   483693   rebecca3499

In [17]:
#Merge con file 'loans_lenders' e 'new_loans_lenders_complete' per ottenere il dataset normalizzato con la variabile
#relativa la lunghezza della lista a cui appartiene il lender

new_loans_lenders_complete = new_loans_lenders_complete.merge(loans_lenders[['len_of_list','loan_id']])
new_loans_lenders_complete.head()

   loan_id       lenders  len_of_list
0   483693        muc888           40
1   483693       sam4326           40
2   483693   camaran3922           40
3   483693   lachheb1865           40
4   483693   rebecca3499           40

In [18]:
#Selezione delle variabili di interesse

loans_min = loans[['loan_id','loan_amount']]
loans_min.head()

   loan_id  loan_amount
0   657307        125.0
1   657259        400.0
2   658010        400.0
3   659347        625.0
4   656933        425.0

In [19]:
#Nuovo merge

loans_min_merge = loans_min.merge(new_loans_lenders_complete)
loans_min_merge.head()

   loan_id  loan_amount         lenders  len_of_list
0   657307        125.0     spencer5657            3
1   657307        125.0     matthew8640            3
2   657307        125.0   larry71496105            3
3   657259        400.0             ltr            7
4   657259        400.0      andrew5306            7

In [20]:
#Divisione dell'importo 'loan_amount' per il numero di lenders che hanno contriuito al prestito

loans_min_merge['real_loan_amount'] = loans_min_merge['loan_amount'] / loans_min_merge['len_of_list']
loans_min_merge.head()

   loan_id  loan_amount         lenders  len_of_list  real_loan_amount
0   657307        125.0     spencer5657            3         41.666667
1   657307        125.0     matthew8640            3         41.666667
2   657307        125.0   larry71496105            3         41.666667
3   657259        400.0             ltr            7         57.142857
4   657259        400.0      andrew5306            7         57.142857

In [57]:
money_lent = pd.DataFrame(loans_min_merge.groupby('lenders')['real_loan_amount'].sum()).reset_index().round()
money_lent.head()

           lenders  real_loan_amount
0              000            1673.0
1            00000            1381.0
2             0002            2473.0
3         00mike00              53.0
4   0101craign0101            2624.0

## 9. For each country, compute the difference between the overall amount of money lent and the overall amount of money borrowed. Since the country of the lender is often unknown, you can assume that the true distribution among the countries is the same as the one computed from the rows where the country is known.

In [40]:
#Controllo di lenders.csv

lenders

,permanent_name,display_name,city,state,country_code,member_since,occupation,loan_because,loan_purchase_num,invited_by,num_invited
0,qian3013,Qian,NaN,NaN,NaN,1461300457,NaN,NaN,1.0,NaN,0
1,reena6733,Reena,NaN,NaN,NaN,1461300634,NaN,NaN,9.0,NaN,0
2,mai5982,Mai,NaN,NaN,NaN,1461300853,NaN,NaN,NaN,NaN,0
3,andrew86079135,Andrew,NaN,NaN,NaN,1461301091,NaN,NaN,5.0,Peter Tan,0
4,nguyen6962,Nguyen,NaN,NaN,NaN,1461301154,NaN,NaN,NaN,NaN,0
5,sirinapa6764,Sirinapa,NaN,NaN,NaN,1461301496,NaN,NaN,1.0,NaN,0
6,rene7585,Rene,NaN,NaN,NaN,1461301636,NaN,NaN,2.0,NaN,0
7,harald2826,Harald,NaN,NaN,NaN,1461301670,NaN,NaN,2.0,NaN,0
8,mehdi2903,Mehdi,NaN,NaN,NaN,1461301756,NaN,NaN,NaN,NaN,0
9,youchan8125,Youchan,NaN,NaN,NaN,1461301941,NaN,NaN,1.0,NaN,0
10,zhu2998,Zhu,NaN,NaN,NaN,1461302472,NaN,NaN,1.0,NaN,0
11,jennifer4328,Jennifer,NaN,NaN,NaN,1461302712,NaN,NaN,3.0,NaN,0
12,aniruddha9724,Aniruddha,NaN,NaN,NaN,1461302850,NaN,NaN,1.0,NaN,0
13,duraimurugan4891,Durai Murugan,NaN,NaN,NaN,1461302864,NaN,NaN,1.0,NaN,1
14,chuan7668,chuan,NaN,NaN,NaN,1461302892,NaN,NaN,NaN,NaN,0
15,zhang2317,zhang,NaN,NaN,NaN,1461302899,NaN,NaN,NaN,NaN,0
16,naresh2074,Naresh,NaN,NaN,US,1461303119,NaN,NaN,3.0,NaN,0
17,min6557,Min,NaN,NaN,NaN,1461303121,NaN,NaN,2.0,NaN,0
18,weiting2757,Wei Ting,NaN,NaN,NaN,1461300705,NaN,NaN,1.0,Joanne,0
19,you2163,you,NaN,NaN,NaN,1461300920,NaN,NaN,3.0,NaN,0
20,yibing3664,yibing,NaN,NaN,NaN,1461301192,NaN,NaN,1.0,NaN,0
21,vidhya3861,Vidhya,NaN,NaN,NaN,1461301253,NaN,NaN,2.0,ANup,0
22,brave3842,Brave,NaN,NaN,NaN,1461301256,NaN,NaN,2.0,NaN,0
23,charan2835,charan,NaN,NaN,NaN,1461301521,NaN,NaN,4.0,NaN,0
24,shalini8713,Shalini,NaN,NaN,NaN,1461301538,NaN,NaN,4.0,NaN,0
25,surendrakumar2666,Surendra Kumar,NaN,NaN,NaN,1461301689,NaN,NaN,2.0,NaN,0
26,rank7715,Rank,NaN,NaN,NaN,1461302240,NaN,NaN,NaN,NaN,0
27,liz5177,Liz,NaN,NaN,NaN,1461302338,NaN,NaN,15.0,NaN,0
28,jiaqing8074,jiaqing,NaN,NaN,NaN,1461302344,NaN,NaN,2.0,NaN,0
29,qinghua8634,QINGHUA,NaN,NaN,NaN,1461302353,NaN,NaN,1.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
2349144,jeff82553550,Jeff,NaN,Rhode Island,US,1342101782,NaN,NaN,6.0,William,0
2349145,brandon3139,Brandon,Charlotte,NC,US,1342093246,NaN,NaN,2.0,NaN,0
2349146,ledizia8429,Ledizia,NaN,NaN,US,1342095049,NaN,NaN,1.0,Leonie Dawson,0
2349147,erik4879,Erik,NaN,NaN,NaN,1342096025,NaN,NaN,0.0,NaN,1
2349148,irina3974,Irina,Raleigh,North Carolina,US,1342096229,NaN,NaN,1.0,NaN,1
2349149,lisa40629710,Lisa,NaN,NaN,NaN,1342098370,NaN,NaN,NaN,NaN,0
2349150,brandon5185,brandon,NaN,NaN,NaN,1342098887,NaN,NaN,NaN,NaN,0
2349151,barry6472,Barry,Ferndale,WA,US,1342100739,NaN,NaN,52.0,NaN,0
2349152,lenny4283,Lenny,NaN,NaN,NaN,1342100817,NaN,NaN,1.0,Mauricio,0
2349153,bonnie9739,Bonnie,Ft. Lauderdale,Florida,US,1342101126,Elementary School Teacher,it is a direct way for me to make a difference...,549.0,NaN,1
2349154,carldavid7952,Carl-David,NaN,NaN,NaN,1342091600,NaN,NaN,1.0,Judy,0
2349155,cody7091,Cody,Taylorsville,Utah,US,1342098780,NaN,NaN,1.0,Jeannie,0
2349156,patrick2230,Patrick,NaN,NaN,NaN,1342099012,NaN,NaN,NaN,NaN,0
2349157,haley9654,Haley,NaN,NaN,US,1342100271,NaN,NaN,NaN,NaN,0
2349158,rakhi,Rakhi,New York,New York,US,1342100607,Student,I care.,4.0,NaN,0
2349159,vicki5374,Vicki,Austin,Texas,US,1342101743,NaN,NaN,1.0,Vicki,1
2349160,tanvir6944,Tanvir,NaN,NaN,NaN,1342101840,NaN,NaN,NaN,NaN,0
2349161,jennifer5879,Jennifer,Riverview,New Brunswick,CA,1342092207,NaN,NaN,1.0,Beverly,1
2349162,james75291930,James,NaN,NaN,NaN,1342096854,NaN,NaN,6.0,NaN,0
2349163,stanley6044,Stanley,NaN,NaN,NaN,1342098184,NaN,NaN,NaN,NaN,0
2349164,carol8279,Carol,NaN,NaN,NaN,1342099416,NaN,NaN,5.0,NaN,0
2349165,jeffery5099,Jeffery,NaN,NaN,NaN,1342100234,NaN,NaN,NaN,NaN,0
2349166,eric91401545,Eric,NaN,NaN,NaN,1342100719,NaN,NaN,2.0,NaN,0
2349167,todd5695,Todd,NaN,NaN,NaN,1342101461,NaN,NaN,NaN,NaN,0
2349168,kate40761039,Kate,NaN,NaN,NaN,1342096938,NaN,NaN,1.0,Irina,0
2349169,janet7309,Janet,NaN,NaN,NaN,1342097163,NaN,NaN,NaN,NaN,0
2349170,pj4198,NaN,NaN,NaN,NaN,1342097515,NaN,NaN,NaN,NaN,0
2349171,maria2141,Maria,NaN,NaN,US,1342099723,NaN,NaN,2.0,NaN,0
2349172,simone9846,Simone,NaN,NaN,NaN,1342100213,NaN,NaN,NaN,NaN,0
2349173,laurie1160,Laurie,Timonium,Maryland,US,1342101767,NaN,NaN,1.0,Verian,0

In [23]:
#Creazione di un DataFrame con i soldi prestati da ogni paese

money_borrowed = pd.DataFrame(loans.groupby('country_code')['loan_amount'].sum())
money_borrowed = money_borrowed.rename(columns={'loan_amount':'money_borrowed'})
money_borrowed.reset_index()

   country_code  money_borrowed
0            AF       1967950.0
1            AL       4307350.0
2            AM      22950475.0
3            AZ      14784625.0
4            BA        477250.0
5            BF       4085200.0
6            BG        375300.0
7            BI       5233450.0
8            BJ       3865825.0
9            BO      44226725.0
10           BR       1192325.0
11           BT         20000.0
12           BW          8000.0
13           BZ        150175.0
14           CA         50000.0
15           CD      18813425.0
16           CG       2265350.0
17           CI        345300.0
18           CL       2595925.0
19           CM       2250800.0
20           CN        380525.0
21           CO      23613975.0
22           CR       5644350.0
23           DO       9308000.0
24           EC      35519000.0
25           EG       1415025.0
26           GE       9570425.0
27           GH      15262725.0
28           GT      18718050.0
29           GU         17300.0
..          ...             ...
65           PY      53964700.0
66           RW      29157325.0
67           SB        815575.0
68           SL      11967500.0
69           SN      17952175.0
70           SO        308725.0
71           SR        748925.0
72           SS       2418300.0
73           SV      41691550.0
74           TD         20075.0
75           TG      10022825.0
76           TH        608925.0
77           TJ      39622125.0
78           TL       3482400.0
79           TR        903925.0
80           TZ      18720300.0
81           UA       7091800.0
82           UG      38386500.0
83           US      46352000.0
84           UY          8000.0
85           VC         49225.0
86           VI         10000.0
87           VN      24681100.0
88           VU          9250.0
89           WS      12212175.0
90           XK       3083025.0
91           YE       3444000.0
92           ZA       1006525.0
93           ZM       1978975.0
94           ZW       5851875.0

[95 rows x 2 columns]

In [58]:
money_lent = money_lent.rename(columns={'real_loan_amount':'money_lent'})
money_lent.head()

           lenders  money_lent
0              000      1673.0
1            00000      1381.0
2             0002      2473.0
3         00mike00        53.0
4   0101craign0101      2624.0

In [34]:
#Creazione del dataset con le variabili per il merge e rimozione dei valori mancanti

lenders_for_merge = pd.DataFrame(lenders[['country_code','permanent_name']])
lenders_for_merge = lenders_for_merge.dropna() 
lenders_for_merge

        country_code       permanent_name
16                US           naresh2074
31                US    christina27976796
37                IN            vikas1098
39                US             qian1385
42                US             xigg8769
45                US     prathapkiran5174
54                US  prashankpradeep8456
66                US    sethumathavan2571
77                AU             jack8790
91                US        abpestcontrol
98                US           oliver8929
108               US                jotye
118               US           sathya8485
148               US              rymrfob
150               US       sukhmander8224
157               PL            gosia5359
164               BR             tila2764
171               US              lee5125
177               US        markeylawfirm
182               US              jakegtl
201               IN           kumari2781
203               CN            qmccr4793
205               US          mahesha2822
228               US          melissa5850
242               US              flu3554
245               US            brian3398
246               US          joanann8500
248               US        manjunath4160
251               FR      pierremarie5489
259               US           kannan2151
...              ...                  ...
2349111           US            shadi1881
2349112           US          brandon9561
2349115           US        steve47796479
2349116           CA           brenda1316
2349119           US      malcolm22941657
2349122           US            paula9842
2349124           US      william69447495
2349125           US            benno6089
2349128           AU             kate3496
2349132           CA          buyarimidex
2349134           NZ             jack4022
2349135           GB            rickyjohn
2349137           AU              tom2586
2349138           GB          timothy3401
2349140           US            lacey4240
2349141           US           edward6668
2349142           US          tierney4362
2349144           US         jeff82553550
2349145           US          brandon3139
2349146           US          ledizia8429
2349148           US            irina3974
2349151           US            barry6472
2349153           US           bonnie9739
2349155           US             cody7091
2349157           US            haley9654
2349158           US                rakhi
2349159           US            vicki5374
2349161           CA         jennifer5879
2349171           US            maria2141
2349173           US           laurie1160

[890539 rows x 2 columns]

In [59]:
lenders_for_merge_1 = lenders_for_merge.merge(money_lent, left_on = 'permanent_name', right_on = 'lenders')
lenders_for_merge_1

       country_code       permanent_name              lenders  money_lent
0                US           naresh2074           naresh2074        64.0
1                US  prashankpradeep8456  prashankpradeep8456        30.0
2                FR      pierremarie5489      pierremarie5489        34.0
3                SK        radoslava6314        radoslava6314        38.0
4                US           sinsin2875           sinsin2875        33.0
5                US      jasmine36996080      jasmine36996080       208.0
6                US          alaynna2764          alaynna2764       720.0
7                GB            engin6513            engin6513        41.0
8                US          davewheeler          davewheeler       358.0
9                US             muge3368             muge3368        29.0
10               BR            cathy1804            cathy1804        90.0
11               US             rand7451             rand7451        38.0
12               DE         alex38245581         alex38245581      1601.0
13               US            brian8995            brian8995        33.0
14               US            heidi8495            heidi8495       100.0
15               US           samuel3990           samuel3990        53.0
16               US            allen9728            allen9728       210.0
17               US             tara9726             tara9726       146.0
18               NL                hilco                hilco       203.0
19               GB        steve37692136        steve37692136        45.0
20               US            wenli6690            wenli6690        89.0
21               ES           javier3659           javier3659       425.0
22               US          melanie3051          melanie3051        91.0
23               AU          revmark1435          revmark1435       843.0
24               DE              max9370              max9370      1359.0
25               US          melinda5300          melinda5300       133.0
26               US           austin1582           austin1582        38.0
27               SE        johan56847045        johan56847045        43.0
28               JP               nuleti               nuleti        56.0
29               US          ron12141807          ron12141807        35.0
...             ...                  ...                  ...         ...
181803           US             june3767             june3767        29.0
181804           US    christine41872934    christine41872934       129.0
181805           US            nancy2024            nancy2024        82.0
181806           US           angiemarie           angiemarie       375.0
181807           GB           tamara1054           tamara1054       225.0
181808           FI             visa1749             visa1749        35.0
181809           US             siri7784             siri7784       100.0
181810           MX           javier4705           javier4705        31.0
181811           US           rachel7538           rachel7538        78.0
181812           US           marion7914           marion7914       232.0
181813           US       thomas34739359       thomas34739359       582.0
181814           US          emmalee3534          emmalee3534       243.0
181815           US          maureen3543          maureen3543       210.0
181816           SE           magnus9605           magnus9605        30.0
181817           US         john88459657         john88459657       655.0
181818           US           donagh9955           donagh9955        33.0
181819           US          lindsey2333          lindsey2333        31.0
181820           US            maura6531            maura6531        27.0
181821           US          tiffany5768          tiffany5768       186.0
181822           AU        ellen18308528        ellen18308528        25.0
181823           US             mary5391             mary5391        26.0
181824           US           cullen9073           cullen9073        95.0
181825           US          michael4966          michael4966        75.0
181826           CA           brenda1316           brenda1316        36.0
181827           US      malcolm22941657      malcolm22941657        42.0
181828           US            lacey4240            lacey4240        28.0
181829           US            barry6472            barry6472       247.0
181830           US           bonnie9739           bonnie9739       597.0
181831           US             cody7091             cody7091        27.0
181832           US                rakhi                rakhi        50.0

[181833 rows x 4 columns]

In [60]:
#Calcolo delle differenze tra soldi prestati e ricevuti per ogni paese

country_difference = lenders_for_merge_1.merge(money_borrowed, on='country_code')
country_difference['difference'] = country_difference['money_borrowed'] - country_difference['money_lent']
diz_cd = country_difference.groupby('country_code')['difference'].sum().to_dict()
diz_cd

{'AF': 61000188.0,
 'AL': 34458068.0,
 'AM': 137701806.0,
 'AZ': 59138317.0,
 'BA': 5721309.0,
 'BG': 22874731.0,
 'BJ': 3865692.0,
 'BO': 442265544.0,
 'BR': 538858728.0,
 'BT': 19941.0,
 'BZ': 750534.0,
 'CA': 898319118.0,
 'CG': 2265206.0,
 'CL': 150551929.0,
 'CM': 4501540.0,
 'CN': 74157701.0,
 'CO': 1676572352.0,
 'CR': 694233819.0,
 'DO': 121002953.0,
 'EC': 994517140.0,
 'EG': 66498389.0,
 'GE': 38281524.0,
 'GH': 183148363.0,
 'GT': 374351405.0,
 'GU': 203452.0,
 'HN': 203816942.0,
 'HT': 8992159.0,
 'ID': 818541812.0,
 'IL': 417534696.0,
 'IN': 3694105752.0,
 'IQ': 91660489.0,
 'JO': 231152731.0,
 'KE': 1935336973.0,
 'KG': 88359037.0,
 'KH': 1238720381.0,
 'LA': 161873445.0,
 'LB': 301367091.0,
 'LK': 746690.0,
 'LR': 7857214.0,
 'LS': 516337.0,
 'MD': 2714498.0,
 'MG': 1538988.0,
 'ML': 15504617.0,
 'MM': 8402714.0,
 'MN': 168827953.0,
 'MW': 8729915.0,
 'MX': 7531830979.0,
 'MZ': 12542928.0,
 'NG': 108523043.0,
 'NI': 361835507.0,
 'NP': 6048601.0,
 'PA': 11238533.0,
 'PE': 2383125824.0,
 'PG': 99917.0,
 'PH': 26161815240.0,
 'PK': 774868887.0,
 'PR': 16328895.0,
 'PS': 267798319.0,
 'PY': 269822686.0,
 'RW': 174943387.0,
 'SL': 23934929.0,
 'SN': 53856434.0,
 'SR': 748897.0,
 'SS': 2418233.0,
 'SV': 458604871.0,
 'TG': 10022221.0,
 'TH': 70455817.0,
 'TJ': 237732489.0,
 'TL': 3482363.0,
 'TR': 78620476.0,
 'TZ': 187200139.0,
 'UA': 163106167.0,
 'UG': 652567260.0,
 'US': 5236485570423.0,
 'UY': 117607.0,
 'VC': 49193.0,
 'VI': 78179.0,
 'VN': 1308082430.0,
 'VU': -1748.0,
 'XK': 15414887.0,
 'YE': 27547148.0,
 'ZA': 142902377.0,
 'ZM': 9893372.0}

In [61]:
#DataFrame con le differenze per ogni paese

difference_db = pd.DataFrame(list(diz_cd.items()),
             columns = ['country_code','difference_OML_OMB'])
difference_db.head()

  country_code  difference_OML_OMB
0           AF          61000188.0
1           AL          34458068.0
2           AM         137701806.0
3           AZ          59138317.0
4           BA           5721309.0

## 10. Which country has the highest ratio between the difference computed at the previous point and the population?

In [41]:
#Lettura del file country_stats.csv

country_stats = pd.read_csv('country_stats.csv')
country_stats

,country_name,country_code,country_code3,continent,region,population,population_below_poverty_line,hdi,life_expectancy,expected_years_of_schooling,mean_years_of_schooling,gni,kiva_country_name
0,India,IN,IND,Asia,Southern Asia,1339180127,21.9,0.623559,68.322,11.696590,6.298834,5663.474799,India
1,Nigeria,NG,NGA,Africa,Western Africa,190886311,70.0,0.527105,53.057,9.970482,6.000000,5442.901264,Nigeria
2,Mexico,MX,MEX,Americas,Central America,129163276,46.2,0.761683,76.972,13.299090,8.554985,16383.106680,Mexico
3,Pakistan,PK,PAK,Asia,Southern Asia,197015955,29.5,0.550354,66.365,8.106910,5.089460,5031.173074,Pakistan
4,Bangladesh,BD,BGD,Asia,Southern Asia,164669751,31.5,0.578824,71.985,10.178706,5.241577,3341.490722,Bangladesh
5,Democratic Republic of the Congo,CD,COD,Africa,Middle Africa,81339988,63.0,0.435465,59.057,9.750000,6.117153,679.631223,The Democratic Republic of the Congo
6,United States,US,USA,Americas,Northern America,324459463,15.1,0.919553,79.222,16.538150,13.217890,53245.076960,United States
7,China,CN,CHN,Asia,Eastern Asia,1409517397,3.3,0.737681,75.963,13.535750,7.641840,13345.477460,China
8,Ethiopia,ET,ETH,Africa,Eastern Africa,104957438,29.6,0.447750,64.602,8.351520,2.580780,1522.954782,Ethiopia
9,Indonesia,ID,IDN,Asia,South-eastern Asia,263991379,10.9,0.688847,69.052,12.867660,7.934817,10053.337700,Indonesia
10,Egypt,EG,EGY,Africa,Northern Africa,97553151,25.2,0.691392,71.325,13.098900,7.110000,10064.059910,Egypt
11,Philippines,PH,PHL,Asia,South-eastern Asia,104918090,21.6,0.681799,68.340,11.733020,9.326870,8395.094758,Philippines
12,Kenya,KE,KEN,Africa,Eastern Africa,49699862,43.4,0.554679,62.164,11.080000,6.314098,2880.739597,Kenya
13,Japan,JP,JPN,Asia,Eastern Asia,127484450,16.1,0.903462,83.684,15.340480,12.464000,37267.964070,Japan
14,Russia,RU,RUS,Europe,Eastern Europe,143989754,13.3,0.803908,70.264,14.953150,12.019990,23286.080650,Russia
15,Sudan,SD,SDN,Africa,Northern Africa,40533330,46.5,0.490188,63.732,7.205260,3.522000,3846.370533,Sudan
16,Madagascar,MG,MDG,Africa,Eastern Africa,25570895,70.7,0.512149,65.515,10.346140,6.145955,1319.699397,Madagascar
17,Italy,IT,ITA,Europe,Southern Europe,59359900,29.9,0.886552,83.338,16.258270,10.868793,33572.982490,Italy
18,Turkey,TR,TUR,Asia,Western Asia,80745020,21.9,0.766996,75.528,14.596585,7.887860,18704.527280,Turkey
19,Yemen,YE,YEM,Asia,Western Asia,28250420,54.0,0.482402,64.053,8.989500,3.000000,2300.272279,Yemen
20,Iran,IR,IRN,Asia,Southern Asia,81162788,18.7,0.774063,75.581,14.824240,8.770000,16395.177370,Iran
21,Syria,SY,SYR,Asia,Western Asia,18269868,82.5,0.535887,69.652,8.953430,5.062500,2440.599224,Syria
22,Argentina,AR,ARG,Americas,South America,44271041,32.2,0.827401,76.457,17.260500,9.850000,20945.121050,Argentina
23,Germany,DE,DEU,Europe,Western Europe,82114224,16.7,0.925669,81.092,17.095940,13.187626,44999.647140,Germany
24,Mozambique,MZ,MOZ,Africa,Eastern Africa,29668834,46.1,0.417590,55.478,9.068830,3.499116,1098.435768,Mozambique
25,Myanmar,MM,MMR,Asia,South-eastern Asia,53370609,25.6,0.555566,66.118,9.074000,4.744000,4943.128630,Myanmar (Burma)
26,Colombia,CO,COL,Americas,South America,49065615,27.8,0.727287,74.229,13.595370,7.555876,12762.205290,Colombia
27,Tanzania,TZ,TZA,Africa,Eastern Africa,57310019,22.8,0.530577,65.512,8.923690,5.780000,2466.902694,Tanzania
28,Afghanistan,AF,AFG,Asia,Southern Asia,35530081,35.8,0.479375,60.704,10.053750,3.550000,1870.827131,Afghanistan
29,Angola,AO,AGO,Africa,Middle Africa,29784193,40.5,0.533464,52.698,11.390000,4.979858,6290.895886,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Belize,BZ,BLZ,Americas,Central America,374681,41.0,0.706195,70.076,12.769070,10.470000,7374.814544,Belize
145,Bhutan,BT,BTN,Asia,Southern Asia,807610,13.3,0.606534,69.852,12.515440,3.133696,7081.453040,Bhutan
146,Mauritius,MU,MUS,Africa,Eastern Africa,1265138,8.0,0.781386,74.595,15.169780,9.094000,17947.963980,Mauritius
147,Malta,MT,MLT,Europe,Southern Europe,430835,16.3,0.855851,80.726,14.594620,11.271290,29499.560230,Malta
148,Maldives,MV,MDV,Asia,Southern Asia,436330,16.0,0.701027,76.959,12.746000,6.196000,10382.733060,Maldives
149,Montenegro,ME,MNE,Europe,Southern Europe,628960,8.6,0.807224,76.401,15.133680,11.287160,15409.605120,Montenegro
150,Turkmenistan,TM,TKM,Asia,Central Asia,5758075,0.2,0.691490,65.734,10.801220,9.878170,14025.831380,Turkmenistan
151,Australia,AU,AUS,Oceania,Australia and New Zealand,24450561,NaN,0.938680,82.537,20.432720,13.175100,42822.196270,Australia
152,Bahrain,BH,BHR,Asia,Western Asia,1492584,NaN,0.823884,76.715,14.500000,9.419000,37236.363040,Bahrain
153,Brunei,BN,BRN,Asia,South-eastern Asia,428697,NaN,0.864937,79.019,14.944860,9.020000,72843.466090,Brunei
154,Cuba,CU,CUB,Americas,Caribbean,11484636,NaN,0.774669,79.573,13.937390,11.750781,7455.062477,Cuba
155,Cyprus,CY,CYP,Asia,Western Asia,1179551,NaN,0.855646,80.332,14.256130,11.695230,29458.522690,Cyprus
156,Finland,FI,FIN,Europe,Northern Europe,5523231,NaN,0.894517,81.006,17.047920,11.194000,38868.135520,Finland
157,Iceland,IS,ISL,Europe,Northern Europe,335025,NaN,0.921110,82.724,18.994220,12.190892,37065.214510,Iceland
158,Kuwait,KW,KWT,Asia,Western Asia,4136528,NaN,0.800183,74.549,13.260000,7.265369,76075.207350,Kuwait
159,Luxembourg,LU,LUX,Europe,Western Europe,583455,NaN,0.898465,81.881,13.863730,11.950833,62470.591290,Luxembourg
160,New Zealand,NZ,NZL,Oceania,Australia and New Zealand,4705818,NaN,0.914900,82.026,19.228200,12.503000,32870.078360,New Zealand
161,North Korea,KP,PRK,Asia,Eastern Asia,25490965,NaN,NaN,NaN,NaN,NaN,NaN,North Korea
162,Norway,NO,NOR,Europe,Northern Europe,5305383,NaN,0.949423,81.711,17.671870,12.746420,67614.353480,Norway
163,Oman,OM,OMN,Asia,Western Asia,4636262,NaN,0.795779,76.970,13.740850,8.100000,34402.275500,Oman
164,Puerto Rico,PR,PRI,Americas,Caribbean,3663131,NaN,NaN,NaN,NaN,NaN,NaN,Puerto Rico
165,Qatar,QA,QAT,Asia,Western Asia,2639211,NaN,0.855531,78.323,13.406100,9.764630,129915.600900,Qatar
166,Saudi Arabia,SA,SAU,Asia,Western Asia,32938213,NaN,0.846602,74.444,16.112270,9.627520,51320.113230,Saudi Arabia
167,Singapore,SG,SGP,Asia,South-eastern Asia,5708844,NaN,0.924866,83.209,15.400000,11.572410,78162.323870,Singapore
168,Solomon Islands,SB,SLB,Oceania,Melanesia,611343,NaN,0.514999,68.107,9.610000,5.330584,1560.858813,Solomon Islands
169,Somalia,SO,SOM,Africa,Eastern Africa,14742523,NaN,NaN,NaN,NaN,NaN,NaN,Somalia
170,Central African Republic,CF,CAF,Africa,Middle Africa,4659080,NaN,0.352440,51.458,7.098980,4.230000,587.473961,Central African Republic
171,Samoa,WS,WSM,Oceania,Polynesia,196440,NaN,0.702000,NaN,NaN,NaN,NaN,Samoa
172,Palestine,PS,PS,Asia,Western Asia,4920724,NaN,0.677000,NaN,NaN,NaN,NaN,Palestine
173,Kosovo,XK,NaN,Europe,Southern Europe,1895250,30.0,0.786000,NaN,NaN,NaN,NaN,Kosovo

In [62]:
#Merge con il DataFrame ottenuto al punto precedente 

highest_ratio = difference_db.merge(country_stats[['country_code', 'population']])
highest_ratio.head()

  country_code  difference_OML_OMB  population
0           AF          61000188.0    35530081
1           AL          34458068.0     2930187
2           AM         137701806.0     2930450
3           AZ          59138317.0     9827589
4           BA           5721309.0     3507017

In [63]:
#Creazione di una variabile 'ratio' con il rapporto fra la differenza dei soldi prestati e ricevuti e la popolazione

highest_ratio['ratio'] = highest_ratio['difference_OML_OMB']/highest_ratio['population']
highest_ratio.head()

  country_code  difference_OML_OMB  population      ratio
0           AF          61000188.0    35530081   1.716860
1           AL          34458068.0     2930187  11.759682
2           AM         137701806.0     2930450  46.989987
3           AZ          59138317.0     9827589   6.017581
4           BA           5721309.0     3507017   1.631389

In [66]:
#Ordinamento in base al valore del rapporto più alto

highest_ratio.sort_values('ratio', ascending = False)

   country_code  difference_OML_OMB  population         ratio
72           US        5.236486e+12   324459463  16139.105705
53           PH        2.616182e+10   104918090    249.354666
17           CR        6.942338e+08     4905769    141.513760
33           KH        1.238720e+09    16005373     77.394034
51           PE        2.383126e+09    32165485     74.089535
63           SV        4.586049e+08     6377853     71.905839
19           EC        9.945171e+08    16624858     59.821091
45           MX        7.531831e+09   129163276     58.312480
48           NI        3.618355e+08     6217581     58.195544
43           MN        1.688280e+08     3075647     54.891850
56           PS        2.677983e+08     4920724     54.422544
27           IL        4.175347e+08     8321570     50.174991
35           LB        3.013671e+08     6082357     49.547748
2            AM        1.377018e+08     2930450     46.989987
7            BO        4.422655e+08    11051600     40.018237
57           PY        2.698227e+08     6811297     39.613995
31           KE        1.935337e+09    49699862     38.940490
16           CO        1.676572e+09    49065615     34.170006
66           TJ        2.377325e+08     8921343     26.647612
11           CA        8.983191e+08    36624199     24.528021
30           JO        2.311527e+08     9702353     23.824399
34           LA        1.618734e+08     6858160     23.603043
23           GT        3.743514e+08    16913503     22.133286
24           HN        2.038169e+08     9265067     21.998432
71           UG        6.525673e+08    42862958     15.224504
32           KG        8.835904e+07     6045117     14.616597
58           RW        1.749434e+08    12208407     14.329747
74           VN        1.308082e+09    95540800     13.691349
1            AL        3.445807e+07     2930187     11.759682
18           DO        1.210030e+08    10766998     11.238319
..          ...                 ...         ...           ...
10           BZ        7.505340e+05      374681      2.003128
0            AF        6.100019e+07    35530081      1.716860
37           LR        7.857214e+06     4731906      1.660476
4            BA        5.721309e+06     3507017      1.631389
61           SR        7.488970e+05      563402      1.329241
64           TG        1.002222e+07     7797694      1.285280
65           TH        7.045582e+07    69037513      1.020544
76           YE        2.754715e+07    28250420      0.975106
68           TR        7.862048e+07    80745020      0.973688
41           ML        1.550462e+07    18541980      0.836190
25           HT        8.992159e+06    10981229      0.818866
20           EG        6.649839e+07    97553151      0.681663
39           MD        2.714498e+06     4051212      0.670046
78           ZM        9.893372e+06    17094130      0.578758
47           NG        1.085230e+08   190886311      0.568522
44           MW        8.729915e+06    18622104      0.468793
12           CG        2.265206e+06     5260750      0.430586
46           MZ        1.254293e+07    29668834      0.422764
6            BJ        3.865692e+06    11175692      0.345902
38           LS        5.163370e+05     2233339      0.231195
49           NP        6.048601e+06    29304998      0.206402
62           SS        2.418233e+06    12575714      0.192294
14           CM        4.501540e+06    24053727      0.187145
42           MM        8.402714e+06    53370609      0.157441
40           MG        1.538988e+06    25570895      0.060185
15           CN        7.415770e+07  1409517397      0.052612
36           LK        7.466900e+05    20876917      0.035766
73           UY        1.176070e+05     3456750      0.034022
9            BT        1.994100e+04      807610      0.024691
52           PG        9.991700e+04     8251162      0.012109

[79 rows x 4 columns]

## 11. Which country has the highest ratio between the difference computed at point 9 and the population that is not below the poverty line?

In [67]:
#Merge con il DataFrame precedente e la colonna 'population_below_poverty_line' di country_stats

highest_ratio = pd.merge(highest_ratio, country_stats[['country_code','population_below_poverty_line']], 
                         on = 'country_code', how = 'left')
highest_ratio.head()

,country_code,difference_OML_OMB,population,ratio,population_below_poverty_line
0,AF,61000188.0,35530081,1.716860,35.8
1,AL,34458068.0,2930187,11.759682,14.3
2,AM,137701806.0,2930450,46.989987,32.0
3,AZ,59138317.0,9827589,6.017581,4.9
4,BA,5721309.0,3507017,1.631389,17.2

In [68]:
#La colonna 'population_below_poverty_line' sembra essere in valori percentuali, quindi viene ritrasformata in 
#valori assoluti

highest_ratio['real_pop_BPL'] = highest_ratio['population']*highest_ratio['population_below_poverty_line']//100
highest_ratio.head()

,country_code,difference_OML_OMB,population,ratio,population_below_poverty_line,real_pop_BPL
0,AF,61000188.0,35530081,1.716860,35.8,12719768.0
1,AL,34458068.0,2930187,11.759682,14.3,419016.0
2,AM,137701806.0,2930450,46.989987,32.0,937744.0
3,AZ,59138317.0,9827589,6.017581,4.9,481551.0
4,BA,5721309.0,3507017,1.631389,17.2,603206.0

In [69]:
#Calcolo del nuovo rapporto

highest_ratio['ratio_2'] = highest_ratio['difference_OML_OMB']/highest_ratio['real_pop_BPL']
highest_ratio.head()

,country_code,difference_OML_OMB,population,ratio,population_below_poverty_line,real_pop_BPL,ratio_2
0,AF,61000188.0,35530081,1.716860,35.8,12719768.0,4.795700
1,AL,34458068.0,2930187,11.759682,14.3,419016.0,82.235686
2,AM,137701806.0,2930450,46.989987,32.0,937744.0,146.843708
3,AZ,59138317.0,9827589,6.017581,4.9,481551.0,122.808004
4,BA,5721309.0,3507017,1.631389,17.2,603206.0,9.484834

In [70]:
#Ordinamento del nuovo rapporto

highest_ratio.sort_values('ratio_2', ascending = False)

,country_code,difference_OML_OMB,population,ratio,population_below_poverty_line,real_pop_BPL,ratio_2
72,US,5.236486e+12,324459463,16139.105705,15.1,48993378.0,106881.496728
53,PH,2.616182e+10,104918090,249.354666,21.6,22662307.0,1154.419770
17,CR,6.942338e+08,4905769,141.513760,21.7,1064551.0,652.137680
33,KH,1.238720e+09,16005373,77.394034,17.7,2832951.0,437.254432
51,PE,2.383126e+09,32165485,74.089535,22.7,7301565.0,326.385621
11,CA,8.983191e+08,36624199,24.528021,9.4,3442674.0,260.936446
43,MN,1.688280e+08,3075647,54.891850,21.6,664339.0,254.129222
19,EC,9.945171e+08,16624858,59.821091,25.6,4255963.0,233.676172
27,IL,4.175347e+08,8321570,50.174991,22.0,1830745.0,228.068189
63,SV,4.586049e+08,6377853,71.905839,34.9,2225870.0,206.033987
48,NI,3.618355e+08,6217581,58.195544,29.6,1840403.0,196.606671
57,PY,2.698227e+08,6811297,39.613995,22.2,1512107.0,178.441530
35,LB,3.013671e+08,6082357,49.547748,28.6,1739554.0,173.243884
30,JO,2.311527e+08,9702353,23.824399,14.2,1377734.0,167.777474
2,AM,1.377018e+08,2930450,46.989987,32.0,937744.0,146.843708
45,MX,7.531831e+09,129163276,58.312480,46.2,59673433.0,126.217491
16,CO,1.676572e+09,49065615,34.170006,27.8,13640240.0,122.913699
3,AZ,5.913832e+07,9827589,6.017581,4.9,481551.0,122.808004
74,VN,1.308082e+09,95540800,13.691349,11.3,10796110.0,121.162384
34,LA,1.618734e+08,6858160,23.603043,22.0,1508795.0,107.286573
21,GE,3.828152e+07,3912061,9.785513,9.2,359909.0,106.364453
7,BO,4.422655e+08,11051600,40.018237,38.6,4265917.0,103.674203
31,KE,1.935337e+09,49699862,38.940490,43.4,21569740.0,89.724631
66,TJ,2.377325e+08,8921343,26.647612,31.5,2810223.0,84.595596
1,AL,3.445807e+07,2930187,11.759682,14.3,419016.0,82.235686
71,UG,6.525673e+08,42862958,15.224504,19.7,8444002.0,77.281751
24,HN,2.038169e+08,9265067,21.998432,29.6,2742459.0,74.319048
8,BR,5.388587e+08,209288278,2.574720,3.7,7743666.0,69.587031
13,CL,1.505519e+08,18054726,8.338644,14.4,2599880.0,57.907261
32,KG,8.835904e+07,6045117,14.616597,32.1,1940482.0,45.534582
...,...,...,...,...,...,...,...
0,AF,6.100019e+07,35530081,1.716860,35.8,12719768.0,4.795700
59,SL,2.393493e+07,7557212,3.167164,70.2,5305162.0,4.511630
68,TR,7.862048e+07,80745020,0.973688,21.9,17683159.0,4.446065
39,MD,2.714498e+06,4051212,0.670046,20.8,842652.0,3.221375
37,LR,7.857214e+06,4731906,1.660476,54.1,2559961.0,3.069271
20,EG,6.649839e+07,97553151,0.681663,25.2,24583394.0,2.705013
64,TG,1.002222e+07,7797694,1.285280,55.1,4296529.0,2.332632
41,ML,1.550462e+07,18541980,0.836190,36.1,6693654.0,2.316316
61,SR,7.488970e+05,563402,1.329241,70.0,394381.0,1.898918
76,YE,2.754715e+07,28250420,0.975106,54.0,15255226.0,1.805752
15,CN,7.415770e+07,1409517397,0.052612,3.3,46514074.0,1.594307
25,HT,8.992159e+06,10981229,0.818866,58.5,6424018.0,1.399772
78,ZM,9.893372e+06,17094130,0.578758,60.5,10341948.0,0.956626
6,BJ,3.865692e+06,11175692,0.345902,36.2,4045600.0,0.955530
12,CG,2.265206e+06,5260750,0.430586,46.5,2446248.0,0.925992
44,MW,8.729915e+06,18622104,0.468793,50.7,9441406.0,0.924641
46,MZ,1.254293e+07,29668834,0.422764,46.1,13677332.0,0.917060
49,NP,6.048601e+06,29304998,0.206402,25.2,7384859.0,0.819054
47,NG,1.085230e+08,190886311,0.568522,70.0,133620417.0,0.812174
14,CM,4.501540e+06,24053727,0.187145,30.0,7216118.0,0.623817
42,MM,8.402714e+06,53370609,0.157441,25.6,13662875.0,0.615003
36,LK,7.466900e+05,20876917,0.035766,6.7,1398753.0,0.533825
38,LS,5.163370e+05,2233339,0.231195,57.0,1273003.0,0.405605
62,SS,2.418233e+06,12575714,0.192294,50.6,6363311.0,0.380027
73,UY,1.176070e+05,3456750,0.034022,9.7,335304.0,0.350747
9,BT,1.994100e+04,807610,0.024691,13.3,107412.0,0.185650
40,MG,1.538988e+06,25570895,0.060185,70.7,18078622.0,0.085128
52,PG,9.991700e+04,8251162,0.012109,37.0,3052929.0,0.032728
55,PR,1.632890e+07,3663131,4.457633,NaN,NaN,NaN
56,PS,2.677983e+08,4920724,54.422544,NaN,NaN,NaN

## 12. For each year, compute the total amount of loans. Each loan that has planned expiration time and disburse time in different years must have its amount distributed proportionally to the number of days in each year. For example, a loan with disburse time December 1st, 2016, planned expiration time January 30th 2018, and amount 5000USD has an amount of 5000USD * 31 / (31+365+30) = 363.85 for 2016, 5000USD * 365 / (31+365+30) = 4284.04 for 2017, and 5000USD * 30 / (31+365+30) = 352.11 for 2018.

In [51]:
#Creazione di un nuovo DataFrame con le sole variabili di interesse e creazione di un DataFrame per i test

loans_12 = loans[['loan_id','loan_amount','disburse_time','planned_expiration_time','duration']]
loans_12_tent = loans_12.loc[0:5]
loans_12_tent.head()

,loan_id,loan_amount,disburse_time,planned_expiration_time,duration
0,657307,125.0,2013-12-22 08:00:00+00:00,2014-02-14 03:30:06+00:00,53.0
1,657259,400.0,2013-12-20 08:00:00+00:00,2014-03-26 22:25:07+00:00,96.0
2,658010,400.0,2014-01-09 08:00:00+00:00,2014-02-15 21:10:05+00:00,37.0
3,659347,625.0,2014-01-17 08:00:00+00:00,2014-02-21 03:10:02+00:00,34.0
4,656933,425.0,2013-12-17 08:00:00+00:00,2014-02-13 06:10:02+00:00,57.0

In [52]:
#Non vengono prese in considerazione le osservazioni che hanno un valore di disburse_time' maggiore di 
#'planned_expiration_time'

loans_12 = loans_12[loans_12['duration'] >= 0]
loans_12.head()

,loan_id,loan_amount,disburse_time,planned_expiration_time,duration
0,657307,125.0,2013-12-22 08:00:00+00:00,2014-02-14 03:30:06+00:00,53.0
1,657259,400.0,2013-12-20 08:00:00+00:00,2014-03-26 22:25:07+00:00,96.0
2,658010,400.0,2014-01-09 08:00:00+00:00,2014-02-15 21:10:05+00:00,37.0
3,659347,625.0,2014-01-17 08:00:00+00:00,2014-02-21 03:10:02+00:00,34.0
4,656933,425.0,2013-12-17 08:00:00+00:00,2014-02-13 06:10:02+00:00,57.0

In [53]:
#Check di verifica sulla lunghezza del file

len(loans_12)

1030027

In [54]:
#Check di verifica sulla funzione .dayofyear

pd.Period(str(loans_12['disburse_time'][1])).dayofyear

354

In [55]:
#Creazione di una funzione in grado di ritornare una lista di liste, con input due date, costituita
#da anno/i in considerazione con i rispettivi pesi (giorni)

def list_year_date(date_dis, date_et):
    diff = pd.to_datetime(date_et).year - pd.to_datetime(date_dis).year #numero di elementi per cui deve essere ponderato il loan_amount
    lista_temp = list(range(0,int(diff+1)))
    if len(lista_temp) == 1:
        lista_temp[0] = [pd.to_datetime(date_et).year, pd.Period(str(date_et)).dayofyear - pd.Period(str(date_dis)).dayofyear]
    if len(lista_temp) == 2:                     
        diff_1 = (365 - pd.Period(str(date_dis)).dayofyear)
        diff_2 = pd.Period(str(date_et)).dayofyear
        lista_temp[0] = [pd.to_datetime(date_dis).year, diff_1]
        lista_temp[1] = [pd.to_datetime(date_et).year, diff_2]
    if len(lista_temp) > 2:
        diff_1 = (365 - pd.Period(str(date_dis)).dayofyear)
        diff_2 = pd.Period(str(date_et)).dayofyear
        lista_temp[0] = [pd.to_datetime(date_dis).year, diff_1]
        lista_temp[-1] = [pd.to_datetime(date_et).year, diff_2]
        a = pd.to_datetime(date_dis).year + 1
        for yr in range(1, len(lista_temp)-1):
            lista_temp[yr] = [a, 365]
            a += 1
    return lista_temp

                         
l = list_year_date('2016-12-1','2018-1-30')
l

[[2016, 29], [2017, 365], [2018, 30]]

In [56]:
#Creazione di una funzione che ritornasse un dizionario di liste, con i valori di loan_amount già ponderati per ogni anno
#per ogni osservazione (loan_id)

def list_partial_loan(lista_date, loan_amount, loan_id):
    diz_partial_loan = {}
    lista = []
    somma_giorni = 1
    for year in lista_date:
        somma_giorni += year[1]
    if somma_giorni > 0:
        for year in lista_date:
            lista.append([year[0], loan_amount*year[1]/somma_giorni])
    
    diz_partial_loan[loan_id] = lista
    return diz_partial_loan

                                   
diz = list_partial_loan(l, 5000, 1)
print(diz)

{1: [[2016, 341.1764705882353], [2017, 4294.117647058823], [2018, 352.94117647058823]]}

In [78]:
#Test su DataFrame ridotto

lista = []
for index, row in loans_12_tent.iterrows():
    l = list_year_date(row['disburse_time'], row['planned_expiration_time'])
    diz = list_partial_loan(l, row['loan_amount'], row['loan_id'])
    lista.append(diz)

loans_12_tent['diz'] = lista
loans_12_tent.head()

,loan_id,loan_amount,disburse_time,planned_expiration_time,duration,diz
0,657307,125.0,2013-12-22 08:00:00+00:00,2014-02-14 03:30:06+00:00,53.0,"{657307: [[2013, 20.454545454545453], [2014, 1..."
1,657259,400.0,2013-12-20 08:00:00+00:00,2014-03-26 22:25:07+00:00,96.0,"{657259: [[2013, 45.36082474226804], [2014, 35..."
2,658010,400.0,2014-01-09 08:00:00+00:00,2014-02-15 21:10:05+00:00,37.0,"{658010: [[2014, 389.4736842105263]]}"
3,659347,625.0,2014-01-17 08:00:00+00:00,2014-02-21 03:10:02+00:00,34.0,"{659347: [[2014, 607.6388888888889]]}"
4,656933,425.0,2013-12-17 08:00:00+00:00,2014-02-13 06:10:02+00:00,57.0,"{656933: [[2013, 100.84745762711864], [2014, 3..."

In [80]:
#Rimozione dati mancanti e check sulla lunghezza

loans_12 = loans_12.dropna()
len(loans_12)

1030027

In [81]:
#Applicazioni delle funzioni su loans_12 e salvataggio del file .pkl

list_for_new_variable = []


for index, row in loans_12.iterrows():
    l = list_year_date(row['disburse_time'], row['planned_expiration_time'])
    diz = list_partial_loan(l, row['loan_amount'], row['loan_id'])
    list_for_new_variable.append(diz)

loans_12['list_of_diz'] = list_for_new_variable
loans_12.to_pickle('./loans_123.pkl')

In [ ]:
#Lettura del file e check nuovo DataFrame

loans_12 = pd.read_pickle('./loans_123.pkl')
loans_12.head()

In [ ]:
#Alcuni indici sono mancanti, quindi è necessario un .reset_index() per non ottenere errori nel ciclo successivo

loans_12 = loans_12.reset_index()

In [123]:
#Creazione di un DataFrame in cui una o più osservazioni sono inerenti ad ogni prestito, con anno e importo ponderato

a = 0
lista_df = []

for i in loans_12['list_of_diz']:
    df = pd.DataFrame(pd.DataFrame(loans_12['list_of_diz'][a].values()).stack().tolist())
    a += 1
    lista_df.append(df)

      0           1
0  2013   20.454545
1  2014  102.272727
0  2013   45.360825
1  2014  350.515464
0  2014  389.473684

In [146]:
#Rinominazione delle colonne e creazione di un nuovo dataset con nuovi indici progressivi

loans_12_gb.columns = ['year','loan']
loans_12_new = loans_12_gb.reset_index(drop=True)
loans_12_new.head()

   year        loan
0  2013   20.454545
1  2014  102.272727
2  2013   45.360825
3  2014  350.515464
4  2014  389.473684

In [158]:
#Raggruppamento per ogni anno e somma degli importi ponderati, inoltre la funzione astype('int64') permette di
#non visualizzare l'importo complessivo in notazione scientifica

loans_12_new.groupby('year')['loan'].sum().astype('int64')

year
2011       620643
2012    110517808
2013    121013986
2014    147110340
2015    151384329
2016    149755340
2017    161346261
2018      4947277
Name: loan, dtype: int64